* {
  box-sizing: border-box;
}
body.rama-body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div.rama-tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 45px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(128, 129, 130);
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1;
}
#rama-radio-buttons-container {
  padding: 0 5px 0 2px;
  display: inline;
  /*width: 40%;*/
}
#rama-form-div {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}
.form-group {
  width: 80%;
  padding-right: 1%;
}

td#rama-td {
  text-align: right;
}
div.outliers-container {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;
}
.rama-outliers-div {
 width: 50%;
  padding: 5px 1% 0 1%;
}
.rama-outliers-table{
  width: 100%;
}
.rama-outliers-headline {
  text-align: center;
}
.rama-table-headline {
  text-align: left;
}
.rama-grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.rama-grid path {
  stroke-width: 0;
}
#rama-chain-select {
  padding: 0 2px 0 2px;
}
#rama-svg-container {
  width: 100%;
  max-width: inherit;
  height: 100%;
}
.svg-container {
  /*display: inline-block;*/
  position: absolute;
  width: 100%;
  padding-bottom: 50%; /* aspect ratio */
  vertical-align: top;
  overflow: visible;
}
/*#rama-canvas-container{*/
  /*width: 100%;*/
/*}*/

label.btn.btn-default {
  width: 50%;
}
div.btn-toolbar {
  width: 180px;
}
div.btn-group {
width: 100%;
}
button.dropdown-toggle {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .rama-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 500px;
  }
  .svg-container {
    display: inline-block;
    position: absolute;
    /*width: 85%;*/
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: visible;
    max-height: 650px;
    z-index: 1;
    max-width: 650px;
  }
  #rama-svg-container {
    width: 100%;
    max-width: 650px;
    min-width: 650px;
  }
  .svg-content-responsive {
    display: inline-block;
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 10px;*/
  }
  div.outliers-container {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0;
  }
  .rama-outliers-div {
    width: 25%;
    padding: 5px 3% 0 1%;
  }
  .rama-outliers-table{
    width: 100%;
  }
  .rama-outliers-headline {
    text-align: center;
  }
  .rama-table-headline {
    text-align: left;
  }
  #rama-canvas-container {
    position: absolute;
  }
  #rama-radio-buttons-container {
    display: inline;
    /*padding: 1px;*/
    /*width: 40%;*/
  }
  #rama-form-div {
    justify-content: space-between;
  }
  .form-group {
    width: 80%;
    padding-right: 1%;
  }
  /*rama-type-dropdown {*/
    /*max-width: 30%;*/
  /*}*/
}